In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('D:\\Inceptez\\train_v9rqX0R.csv')

In [6]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [9]:
data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Item_Identifier,8523,1559,FDW13,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item_Weight,7060,NaN,NaN,NaN,12.8576,4.64346,4.555,8.77375,12.6,16.85,21.35
Item_Fat_Content,8523,5,Low Fat,5089,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item_Visibility,8523,NaN,NaN,NaN,0.066132,0.0515978,0,0.0269895,0.0539309,0.0945853,0.328391
Item_Type,8523,16,Fruits and Vegetables,1232,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item_MRP,8523,NaN,NaN,NaN,140.993,62.2751,31.29,93.8265,143.013,185.644,266.888
Outlet_Identifier,8523,10,OUT027,935,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outlet_Establishment_Year,8523,NaN,NaN,NaN,1997.83,8.37176,1985,1987,1999,2004,2009
Outlet_Size,6113,3,Medium,2793,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outlet_Location_Type,8523,3,Tier 3,3350,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outlet_Type,8523,4,Supermarket Type1,5577,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item_Outlet_Sales,8523,NaN,NaN,NaN,2181.29,1706.5,33.29,834.247,1794.33,3101.3,13087

In [12]:
data.duplicated().sum()

0

In [14]:
data.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

## To see what are the rows that has Item_Weight as Nan

In [26]:
series = pd.isnull(data['Item_Weight'])
data[series]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

In [31]:
data["Item_Weight"].fillna(data["Item_Weight"].mean(), inplace = True)

In [32]:
data.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [38]:
data["Outlet_Size"].fillna(data["Outlet_Size"].mode()[0], inplace = True)

In [39]:
data.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [40]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [41]:
#Script to find the outliers
for col_name in data.select_dtypes(include=np.number).columns[:-1]:
    print(col_name)
    q1 = data[col_name].quantile(0.25)
    q3 = data[col_name].quantile(0.75)
    iqr = q3 - q1
    
    low = q1-1.5*iqr
    high = q3+1.5*iqr
    print("Outliers = ",data.loc[(data[col_name] < low) | (data[col_name] > high), col_name])

Item_Weight
Outliers =  Series([], Name: Item_Weight, dtype: float64)
Item_Visibility
Outliers =  49      0.255395
83      0.293418
108     0.278974
174     0.291865
334     0.204700
          ...
8292    0.209163
8345    0.266397
8371    0.214125
8432    0.227261
8509    0.214306
Name: Item_Visibility, Length: 144, dtype: float64
Item_MRP
Outliers =  Series([], Name: Item_MRP, dtype: float64)
Outlet_Establishment_Year
Outliers =  Series([], Name: Outlet_Establishment_Year, dtype: int64)

In [43]:
data.select_dtypes(exclude=np.number)

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,Low Fat,Dairy,OUT049,Medium,Tier 1,Supermarket Type1
1,DRC01,Regular,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2
2,FDN15,Low Fat,Meat,OUT049,Medium,Tier 1,Supermarket Type1
3,FDX07,Regular,Fruits and Vegetables,OUT010,Medium,Tier 3,Grocery Store
4,NCD19,Low Fat,Household,OUT013,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...,...
8518,FDF22,Low Fat,Snack Foods,OUT013,High,Tier 3,Supermarket Type1
8519,FDS36,Regular,Baking Goods,OUT045,Medium,Tier 2,Supermarket Type1
8520,NCJ29,Low Fat,Health and Hygiene,OUT035,Small,Tier 2,Supermarket Type1
8521,FDN46,Regular,Snack Foods,OUT018,Medium,Tier 3,Supermarket Type2
8522,DRG01,Low Fat,Soft Drinks,OUT046,Small,Tier 1,Supermarket Type1

In [44]:
data['Outlet_Size'].value_counts()

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [52]:
data['Outlet_Size'].replace({'High':2,
                             'Medium':1,
                             'Small':0
                            },inplace=True)

In [53]:
data['Outlet_Size'].value_counts()

1    5203
0    2388
2     932
Name: Outlet_Size, dtype: int64

In [54]:
data['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [56]:
data['Item_Fat_Content'].replace({'LF':'Low Fat',
                             'reg':'Regular',
                             'low fat':'Low Fat'
                            },inplace=True)

In [57]:
data['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [58]:
data['Item_Fat_Content'].replace({'Low Fat':0,
                             'Regular':1,
                             },inplace=True)

In [59]:
data['Item_Fat_Content'].value_counts()

0    5517
1    3006
Name: Item_Fat_Content, dtype: int64

In [61]:
data['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [62]:
data['Item_Identifier'].value_counts()

FDW13    10
FDG33    10
DRE49     9
NCF42     9
FDQ40     9
         ..
FDQ60     1
DRF48     1
FDN52     1
FDC23     1
FDK57     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [63]:
data['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT035    930
OUT046    930
OUT049    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [81]:
data['Outlet_Identifier'].replace({'OUT010':0,
                                   'OUT013':1,
                                   'OUT017':2,
                                   'OUT018':3,
                                   'OUT019':4,
                                   'OUT027':5,
                                   'OUT035':6,
                                   'OUT045':7,
                                   'OUT046':8,
                                   'OUT049':6,                        
                                    },inplace=True)

In [82]:
data['Outlet_Identifier'].value_counts()

6    1860
5     935
1     932
8     930
7     929
3     928
2     926
0     555
4     528
Name: Outlet_Identifier, dtype: int64

In [64]:
data['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [65]:
data['Outlet_Location_Type'].replace({'Tier 3':2,
                             'Tier 2':1,
                             'Tier 1':0
                            },inplace=True)

In [66]:
data['Outlet_Location_Type'].value_counts()

2    3350
1    2785
0    2388
Name: Outlet_Location_Type, dtype: int64

In [67]:
data['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [68]:
data['Outlet_Type'].replace({'Supermarket Type3':3,
                             'Supermarket Type2':2,
                             'Supermarket Type1':1,
                             'Grocery Store': 0
                            },inplace=True)

In [69]:
data['Outlet_Type'].value_counts()

1    5577
0    1083
3     935
2     928
Name: Outlet_Type, dtype: int64

In [73]:
data['Outlet_Establishment_Year'].value_counts()

1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

In [74]:
data['Outlet_Establishment_Year'].replace({1985:0,
                                           1987:1,
                                           1998:2,
                                           1997:3,
                                           1999:4,
                                           2002:5,
                                           2004:6,
                                           2007:7,
                                           2009:8,
                                           },inplace=True)

In [75]:
data['Outlet_Establishment_Year'].value_counts()

0    1463
1     932
6     930
4     930
3     930
5     929
8     928
7     926
2     555
Name: Outlet_Establishment_Year, dtype: int64

In [83]:
data.select_dtypes(include=np.number)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.300,0,0.016047,249.8092,6,4,1,0,1,3735.1380
1,5.920,1,0.019278,48.2692,3,8,1,2,2,443.4228
2,17.500,0,0.016760,141.6180,6,4,1,0,1,2097.2700
3,19.200,1,0.000000,182.0950,0,2,1,2,0,732.3800
4,8.930,0,0.000000,53.8614,1,1,2,2,1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,0,0.056783,214.5218,1,1,2,2,1,2778.3834
8519,8.380,1,0.046982,108.1570,7,5,1,1,1,549.2850
8520,10.600,0,0.035186,85.1224,6,6,0,1,1,1193.1136
8521,7.210,1,0.145221,103.1332,3,8,1,2,2,1845.5976
8522,14.800,0,0.044878,75.4670,8,3,0,0,1,765.6700

In [84]:
numerical_data = data.select_dtypes(include=np.number).drop(columns=['Item_Fat_Content','Outlet_Size','Outlet_Type',
                                                                     'Outlet_Location_Type','Outlet_Establishment_Year',
                                                                    'Outlet_Identifier'])

In [85]:
numerical_data

      Item_Weight  Item_Visibility  Item_MRP  Item_Outlet_Sales
0           9.300         0.016047  249.8092          3735.1380
1           5.920         0.019278   48.2692           443.4228
2          17.500         0.016760  141.6180          2097.2700
3          19.200         0.000000  182.0950           732.3800
4           8.930         0.000000   53.8614           994.7052
...           ...              ...       ...                ...
8518        6.865         0.056783  214.5218          2778.3834
8519        8.380         0.046982  108.1570           549.2850
8520       10.600         0.035186   85.1224          1193.1136
8521        7.210         0.145221  103.1332          1845.5976
8522       14.800         0.044878   75.4670           765.6700

[8523 rows x 4 columns]

In [86]:
categorical_data = data.select_dtypes(exclude=np.number)

In [87]:
categorical_data

     Item_Identifier              Item_Type
0              FDA15                  Dairy
1              DRC01            Soft Drinks
2              FDN15                   Meat
3              FDX07  Fruits and Vegetables
4              NCD19              Household
...              ...                    ...
8518           FDF22            Snack Foods
8519           FDS36           Baking Goods
8520           NCJ29     Health and Hygiene
8521           FDN46            Snack Foods
8522           DRG01            Soft Drinks

[8523 rows x 2 columns]

In [88]:
categorical_data_processed = pd.get_dummies(categorical_data)

In [89]:
categorical_data_processed

,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,Item_Identifier_DRB25,Item_Identifier_DRB48,Item_Identifier_DRC01,Item_Identifier_DRC12,...,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,Item_Type_Health and Hygiene,Item_Type_Household,Item_Type_Meat,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8520,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8521,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8522,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [90]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [91]:
std_scale = StandardScaler()
df_std = std_scale.fit_transform(numerical_data)

In [92]:
numerical_data_preprocessed = pd.DataFrame(df_std,columns = numerical_data.columns)

numerical_data_preprocessed

In [97]:
pre_processed_data = pd.concat([categorical_data_processed,numerical_data_preprocessed,
                                data['Item_Fat_Content'], 
                                data['Outlet_Size'],
                                data['Outlet_Type'],
                                data['Outlet_Location_Type'],
                                data['Outlet_Establishment_Year'],
                                data['Outlet_Identifier']], axis = 1)

In [98]:
pre_processed_data

,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,Item_Identifier_DRB25,Item_Identifier_DRB48,Item_Identifier_DRC01,Item_Identifier_DRC12,...,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,Item_Fat_Content,Outlet_Size,Outlet_Type,Outlet_Location_Type,Outlet_Establishment_Year,Outlet_Identifier
0,0,0,0,0,0,0,0,0,0,0,...,-0.841872,-0.970732,1.747454,0.910601,0,1,1,0,4,6
1,0,0,0,0,0,0,0,0,1,0,...,-1.641706,-0.908111,-1.489023,-1.018440,1,1,2,2,8,3
2,0,0,0,0,0,0,0,0,0,0,...,1.098554,-0.956917,0.010040,-0.049238,0,1,1,0,4,6
3,0,0,0,0,0,0,0,0,0,0,...,1.500838,-1.281758,0.660050,-0.849103,1,1,0,2,2,0
4,0,0,0,0,0,0,0,0,0,0,...,-0.929428,-1.281758,-1.399220,-0.695373,0,2,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0,0,0,0,0,0,0,0,0,0,...,-1.418084,-0.181193,1.180783,0.349915,0,2,1,2,1,1
8519,0,0,0,0,0,0,0,0,0,0,...,-1.059578,-0.371154,-0.527301,-0.956402,1,1,1,1,5,7
8520,0,0,0,0,0,0,0,0,0,0,...,-0.534243,-0.599784,-0.897208,-0.579100,0,0,1,1,6,6
8521,0,0,0,0,0,0,0,0,0,0,...,-1.336444,1.532880,-0.607977,-0.196725,1,1,2,2,8,3
8522,0,0,0,0,0,0,0,0,0,0,...,0.459634,-0.411936,-1.052261,-0.829594,0,0,1,0,3,8